p{
	height: 300px;
	width: 700px;
	overflow: hidden;
}
h2{
	display: list-item;
}
span{
	display: block;
}
img{
	height: 200px;
	width: 400px;
}
.image{
	position: absolute;
	z-index: 1;
}
.caption{
	position: absolute;
	z-index: 2;
}
.images-1{
	height: 300px;
	width: 300px;
}
.images-2{
	height: 300px;
	width: 300px;
}
.images-3{
	height: 300px;
	width: 300px;
}

